@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Mazius";
  src: url("/fonts/Mazius-Extraitalic.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "MediaSans";
  src: url("/fonts/media sans semiCon.otf") format("opentype");
  font-display: swap;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-mediaSans: "MediaSans", sans-serif;
  --font-Mazius: "Mazius", serif;
}

html,
body,
main {
  background-color: #fdfffc;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}
::selection {
  background-color: #c1121f;
}
[data-scroll-section] {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.wave {
  position: relative;
}

.wave::after {
  content: "";
  position: absolute;
  left: 0;
  top: -75px;
  height: 150px;
  width: 100%;
  transform: rotate(180deg);
  background-image: url("/svg/wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.black-border-btn {
  border: 2px solid black !important;
}

@keyframes mover {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@layer components {
  .common-padding {
    @apply px-14 max-sm:px-4;
  }
  .row {
    @apply font-mediaSans uppercase text-[16vw] sm:leading-40 max-sm:leading-normal md:leading-60 lg:leading-none select-none;
  }

  .heading-text {
    @apply text-[5vw];
  }
  .container {
    @apply mt-20 max-sm:mt-20;
  }
  .border-btn {
    @apply w-40 h-15 rounded-4xl cursor-pointer flex justify-center gap-2 items-center justify-self-center text-black;
  }
  .footer-link {
    @apply hover:text-[#e71d36] transition-all duration-300;
  }
  .input-box {
    @apply my-3 lg:w-[80%];
  }
  .box {
    @apply flex gap-4 w-full;
  }
  .box p {
    @apply my-2 opacity-50 text-[11px];
  }
  .box input {
    @apply p-2 my-2 focus:outline-none;
  }
}
